@import url(../../Pages/App/Vars.css);

.footer{
    width: 100%;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.summary-download {
  display: flex;
  /* gap: 0.8rem; */
}

.summary-download:hover img{
    transform: translate(.4rem);
    transition: transform .6s;

}

.summary-download__link {
  color: var(--cyan);
}

.summary-download__icon {
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  place-content: center;
}

.summary-download__icon img {
  height: 100%;
  transition: transform .6s;
}
