.inputs {
  width: 100%;
  min-width: 28.4rem;
  max-width: 36rem;
  height: 3.8rem;
  padding-left: 0.9rem;
  font-family: "Exo 2", sans-serif;
  color: var(--soft-blue);
  border: 1px solid var(--soft-blue);
  border-radius: 0.4rem;
  background: transparent;
}

.inputs::placeholder {
  color: var(--soft-blue);
  opacity: 0.4;
}

.inputs:focus {
  outline: 0.1rem solid var(--cyan);
}
