.social-networks {
  width: 100%;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.social-networks__icon img:hover{
  color: var(--cyan);
}

.social-networks__icon {
  height: 100%;
}

.social-networks__icon img {  
  height: 100%;
}
