.button-contact {
  position: relative;
  width: 16rem;
  height: 4.2rem;
  padding: 0 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--white-border);
  border-radius: 0.4rem;
  transition: box-shadow 0.6s;
}

.button-contact p {
  position: absolute;
  cursor: context-menu;
}

.button-contact--close-icon {
  position: absolute;
  width: 1.8rem;
}

.button-contact:hover {
  box-shadow: 0 4px 1.2rem var(--white-border);
  transition: box-shadow 0.3s;
}
