
.form-contact {
  z-index: 5;
  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.form-contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
}
