@import url("../../Pages/App/Vars.css");

.form-contact {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  flex-basis: 33.9rem;
  flex-grow: 1;
}

.form-contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
}
