.projects-section {
  z-index: 5;
  width: 100%;
  height: auto;
  /* min-height: 18.3rem; */
  padding: 1.8rem 0;
  display: flex;
  gap: 1.2rem;
  /* overflow-x: scroll; */
  /* scroll-snap-type: x mandatory; */
}

.projects-section::-webkit-scrollbar {
  height: 0.9rem;
}

.projects-section::-webkit-scrollbar-thumb {
  background: rgba(147, 170, 194, 0.15);
  border-radius: 0.8rem;
}

@media (max-width: 768px) {
  .projects-section {
    scrollbar-width: none;
  }
}
