.projects-section {
  z-index: 5;
  box-sizing: border-box;
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  /* grid-template-columns: repeat(auto-fit, minmax(28.4rem, 1fr)); */
}

/* .projects-section::-webkit-scrollbar {
  height: 0.9rem;
}

.projects-section::-webkit-scrollbar-thumb {
  background: rgba(147, 170, 194, 0.15);
  border-radius: 0.8rem;
} */
