.projects-section {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.projects-section__arrow {
  position: absolute;
  width: 3.6rem;
  height: 100%;
}

.projects-section__wrap {
  width: 100%;
  padding: 1.8rem 1.8rem;
  display: flex;
  gap: 1.8rem;
  overflow-x: scroll;
}

.projects-section__arrow--left {
  left: 0;
}

.projects-section__arrow--right {
  right: 0;
}
