.contact {
  position: relative;
  width: 100%;
  max-width: 128rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 8rem 1.8rem 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.contact--image {
  z-index: 1;
  position: absolute;
  left: 0;
  height: calc(100vh - 9.8rem);
}

.contact-wrap {
  width: 100%;
  max-width: 92rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  overflow: hidden;
}
