@import url("../../Pages/App/Vars.css");

.contact__social-networks {
  position: relative;
  width: 100%;
  max-width: 62rem;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8rem;
  flex-basis: 33.9rem;
  flex-grow: 2;
}

.contact__social-networks--image {
  position: absolute;
  top: 0;
  left: 0;
  height: 36.2rem;
}

.contact__social-networks--email {
  text-decoration: none;
  color: var(--cyan);
}
