.contact__info {
  width: 100%;
  max-width: 42rem;
  padding: 0 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

.contact__social-networks--email {
  text-decoration: none;
  color: var(--cyan);
}
