.personal-section {
  width: 100%;
  height: auto;
  margin-bottom: 1.8rem;
  display: flex;
  gap: 1.8rem;
}

.personal-section__image {
  width: 3.8rem;
}

.personal-section__image img {
  width: 100%;
}

.personal-section__text {
  width: 100%;
}
