.skills-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-section__cards {
  z-index: 2;
  position: relative;
  width: 100%;
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.8rem;
}