.projects {
  width: 100%;
  max-width: 128rem;
  height: 100vh;
  margin: 0 auto;
  padding: 8rem 1.8rem 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.projects__title {
  width: 100%;
  max-width: 42rem;
}

.projects__detail .line-decoration {
  width: 70%;
}

.projects__detail--text {
  padding: 1.8rem 0;
  opacity: 0.5;
}

.line-decoration--right {
  float: right;
}
