.projects {
  width: 100%;
  max-width: 128rem;
  height: 100vh;
  margin: 0 auto;
  padding: 8rem 1.8rem 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  overflow: hidden;
}

.projects__title {
  width: 100%;
  max-width: 42rem;
}
