.footer {
  position: relative;
  width: 100%;
  padding: 3.2rem 0;
  /* border-top: 0.1rem solid var(--white-border); */
  overflow: hidden;
}

.footer__text {
  width: 100%;
  padding: 1.8rem 0;
  text-shadow: 8px 4px 16px;
}

.footer__social-networks {
  z-index: 2;
  width: 100%;
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-networks hr {
  width: 0.1rem;
  height: 80%;
  border: none;
  background: var(--white-border);
}

.icons {
  width: 4.2rem;
  height: 4.2rem;
  margin: 0 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons img {
  width: 2.3rem;
  height: 2.3rem;
  transition: transform 0.5s;
}

.icons:hover img {
  transform: scale(1.3);
  transition: transform 0.3s;
}
