@import url(./Vars.css);

/*Reset CSS*/

html {
  font-size: 62.5%;
  font-family: "Exo 2", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}


/*Text - Size*/

.text-m {
  font-size: 1.6rem;
}

.text-l {
  font-size: 1.8rem;
}

.text-lg {
  font-size: 2.4rem;
}

.text-regular {
  font-weight: lighter;
}

.text-bold {
  font-weight: bold;
}

/*Text - Colors*/

.text-dark{
  color: var(--dark-blue);
}

.text-light{
  color: var(--soft-blue);
}

.text-white{
  color: var(--white);
}

.text-cyan{
  color:var(--cyan);
}
