.projects-section {
  z-index: 5;
  width: 100%;
  max-width: 85.8rem;
  margin: 3.6rem auto 0 auto;
  display: grid;
  gap: 0.9rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 28rem), 1fr));
}
