.detail-project-section {
  width: 100%;
  height: auto;
}

.detail-project-section .line-decoration {
  width: 70%;
}

.detail-project-section .line-decoration--right {
  float: right;
}

.detail-project-section__card {
  width: 100%;
  max-width: 38rem;
  height: auto;
  margin: 3.6rem auto;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 8px rgba(147, 170, 194, 0.6);
}

.detail-project-section__card--image {
  height: 100%;
  margin-bottom: 0.6rem;
}

.description__links {
  width: 100%;
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  border: 0.1rem solid rgba(147, 170, 194, 0.2);
  border-radius: 0.6rem;
}

.description__links a{
  color: var(--cyan);
}



.detail-project-section__card--description {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.description__text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.detail-project-section--text {
  padding: 1.8rem 0;
  opacity: 0.4;
  display: none;
}
