.detail-project-section{
  width: 100%;
}

.detail-project-section__card{
  width: 100%;
  max-width: 62rem;
  margin: 0 auto;
  padding: .2rem;
  border-radius: .4rem;
  box-shadow: 0 0 8px rgba(147, 170, 194, 0.5);
  display: grid;
}

.detail-project-section__project{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project__card-image{
  width: 100%;
}

.project__card-links{
  position: relative;
  width: 100%;
  height: 4.2rem;
  padding: 0 .9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.1rem solid rgba(147, 170, 194, 0.2);
  border-bottom-left-radius: .6rem;
  border-bottom-right-radius: .6rem;
}

.card-links__project{
  width: 100%;
  height: 100%;
}