.detail-project-section {
  width: 100%;
  height: auto;
  /* overflow: hidden; */
}

.detail-project-section .line-decoration {
  width: 70%;
}

.detail-project-section .line-decoration--right {
  float: right;
}

.detail-project-section__card {
  width: 100%;
  max-width: 44rem;
  height: auto;
  margin: 1.8rem auto;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 8px rgba(147, 170, 194, 0.6);
  animation: show-project 1s ease-in-out forwards;
}

@keyframes show-project {
  from{
    transform: translateY(200%);
    opacity: 0;
    display: none;  
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
  
}

.detail-project-section__card--close{
  transform: translateY(-200%);
  opacity: 0;
}

.detail-project-section__card--image {
  height: 100%;
  margin-bottom: 0.6rem;
}

.description__links {
  position: relative;
  width: 100%;
  height: 4.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid rgba(147, 170, 194, 0.2);
  border-radius: 0.6rem;
}

.description__links__project {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  text-decoration: none;
  color: var(--cyan);
}

.description__links__project span {
  width: 1.6rem;
  padding-top: 0.5rem;
}

.description__links__project span img {
  width: 100%;
}

.description__links__repository {
  position: absolute;
  right: 0.9rem;
}

.detail-project-section__card--description {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.description__text {
  display: flex;
  flex-direction: column;
}

.detail-project-section--text {
  padding: 1.8rem 0;
  opacity: 0.4;
}

.detail-project-section--text-close {
  padding: 1.8rem 0;
  opacity: 0.4;
  animation: close-text-project 1s ease-in-out forwards;
}

@keyframes close-text-project {
  from{
    transform: translateX(0);
  }

  to{
    transform: translateX(-200%);
  }
  
}